fastapi==0.133.0
uvicorn[standard]==0.41.0
python-multipart==0.0.22
websockets==16.0
aiofiles==25.1.0
httpx==0.28.1
python-dotenv==1.2.1
pydantic==2.12.5
numpy==2.4.2
librosa==0.11.0
soundfile==0.13.1
audioread==3.1.0
scikit-learn==1.8.0
scipy==1.17.1
matplotlib==3.10.8
torch==2.10.0
torchaudio==2.10.0
watchfiles==1.1.1
